
<nav class="level navbar backgroundColour1">
        <!-- Conditionally render login or logout links -->
        <a href="/calandar" class="level-item has-text-centered navFont">Calandar</a> 
        <h1 class="logo has-text-centered">xx L00k 4ft4r Y0urs3lf 3000</h1>
        <a href="/logout" class="level-item has-text-centered btn-no-style navFont" id="logout">Logout</a>

</nav>

{{#each entrys as |entry|}}
<div class="columns">

  <div class="column is-two-fifths container block">

    <div>
      
      <div class="box card-content textAlign backgroundColour1 ">
          <p class="font"> Welcome to your daily entry</p>
          <p class="font">Current date selected: {{entry_date}}</p>
      </div>

      <div class="card-content textAlign box backgroundColour1">
          <form>
            <div class="field">
              <label class="label font">How much water did you drink last today?</label>
              <div class="columns">
                <div class="column is-one-fifth alignRight ">
                  <input id ="waterIntake" class="input inputWidth" type="number" placeholder="glasses">
                </div> 
                <div class="column alignLeft">
                  <button id ="waterIntakeBtn" class="button font backgroundColour2">Confirm</button>
                </div>
              </div>
            </div>
          <p class="subtitle font">
            You drank {{water}} glasses of water today
          </p>
        </form>
        <p class="subtitle">

        </p>
      </div>

      <div class="card-content textAlign box backgroundColour1">
          <form>

            <div class="field">
              <label class="label font">How much exercise did you do today?</label>
              
              <div class="columns">           
                <div class="column is-one-fifth alignRight ">
                  <input id="exerciseInput" class="input inputWidth " type="number" placeholder="minutes">
                </div>   
                <div class="column alignLeft">
                  <button id="exerciseBtn" class="button font backgroundColour2">Confirm</button>
                </div>
              </div>
            </div>
          <p class="subtitle font">
            You did {{exercise}} minutes of exercise today
          </p>
        </form>
      </div>
      

      <div class="card-content textAlign box backgroundColour1">
          <form>
            <div class="field">
              <label class="label font">How much sleep did you get last night?</label>
              <div class="columns">
                <div class="column is-one-fifth alignRight ">
                  <input id="sleepInput" class="input inputWidth" type="number" placeholder="minutes">
                </div>
                <div class="column alignLeft">
                  <button id="sleepBtn" class="button font backgroundColour2">Confirm</button>
                </div>
              </div> 
            </div>
          <p class="subtitle font">
            You had {{sleep}} minutes of sleep last night
          </p>
        </form>
      </div>


      <div class="card-content textAlign box backgroundColour1">
          <form>
            <div class="field">
              <label class="label font">What was you average mood today?</label>
              <div class="columns"> 
                <div class="column is-one-fifth alignRight ">
                  <input id="moodInput" class="input inputWidth" type="number" placeholder="/10">
                </div>      
                <div class="column alignLeft">
                  <button id="moodBtn" class="button font backgroundColour2">Confirm</button>
                </div>              
              </div>
            </div>
          <p class="subtitle font">
          You had an average mood of {{mood}}/10 today
          </p>
        </form>
      </div>

    </div>
  </div>

  <div class="column is-three-fifths container">

    <div class="box backgroundColour1 block noteMargin">
      <textarea id="notesInput" class="textarea font" rows= "30" placeholder="e.g. Hello world">{{notes}}</textarea>
       <button id ="notesBtn" class="button is-fullwidth font backgroundColour2 ">Confirm</button>    
    </div>


  </div>
</div>
{{/each}}
<script src="/javscript/logout.js"></script>
<script src="/javscript/dashboard.js"></script>